# Ignore Visual Studio project files
*.cache
*.suo
**/*.cache
**/*.suo
**/*.pidb
**/*.user
**/*.userprefs

**/[Bb]in/*
**/[Bb]in/**/*
**/[Bb]uild/*
**/[Bb]uild/**/*
**/[Oo]bj/*
**/[Oo]bj/**/*
**/[Tt]emp/*
**/[Tt]emp/**/*

# Ignore Unity project files
**/*.csproj
**/*.pidb
**/*.sln
**/*.suo
**/*.unityproj

# Ignore Library files
**/Library/*
**/Library/**/*

# Ignore the contributor's local assets folder, subfolders, and files
**/Assets/[~!]Local/*
**/Assets/[~!]Local/**/*
**/Assets/[~!]Local.meta
